<h1 mat-dialog-title>Add administrator</h1>
<form [formGroup]="newAdminForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>User name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button color="primary" type="submit" [disabled]="newAdminForm.invalid">Add</button>
      </mat-dialog-actions>
</form>