<main class="main">
    <section class="main-content">
        <h6>Black Friday in July</h6>
        <h1>Up to 50% off</h1>
        <h4>Hundreds of styles available</h4>
        <button (click)="redirect()">SHOP NOW</button>
    </section>

    <section class="shop-by-category">
        <header class="shop-by-header">
            <h6>SHOP BY CATEGORY</h6>
            <h2>SHOP BY CATEGORY</h2>
        </header>
        <div class="categories-container">
            @for(i of categoriesList; track i.id) {
            <div class="prueba">
                <app-categories [categories]="i"></app-categories>
            </div>
            } @empty {
            <p>No existen categorias</p>
            }
        </div>
    </section>

    <section class="featured-items">
        <header class="shop-by-header">
            <h6>FEATURED ITEMS</h6>
            <h2>FEATURED ITEMS</h2>
        </header>

        <div class="featured-items-container">
            @for (i of productList; track i.id) {
            <div class="prueba">
                <app-product [product]="i"></app-product>
            </div>

            } @empty {
            <p>No existen productos</p>
            }
        </div>
    </section>

    <section class="comments">
        <header class="shop-by-header">
            <h6>TESTIMONY</h6>
            <h2>TESTIMONY</h2>
        </header>

        <section class="comments-content">
            <div class="comments-container">
                <div class="comment">
                    <p class="stars">★★★★★</p>
                    <p class="testimony">I'm delighted with my new living room set! The quality of the furniture is
                        excellent and the design is exactly what I was looking for. The delivery was fast and the
                        customer service very attentive. I will definitely shop here again.</p>
                    <h3>JAMIE STOCK</h3>
                </div>
            </div>

            <div class="comments-container">
                <div class="comment">
                    <p class="stars">★★★★★</p>
                    <p class="testimony">I bought a dining table and chairs for my new apartment, and I couldn't be
                        happier. The purchasing process was easy, and the furniture arrived in perfect condition. I
                        recommend this store to all my friends!</p>
                    <h3>MARIA OLIVER</h3>
                </div>
            </div>

            <div class="comments-container">
                <div class="comment">
                    <p class="stars">★★★★★</p>
                    <p class="testimony">I found the perfect bed for my bedroom at this store. The variety of styles is
                        impressive and the prices are very competitive. The delivery was on time and the assembly was
                        easy. An incredible shopping experience!</p>
                    <h3>MARK JUSTIN</h3>
                </div>
            </div>
        </section>


    </section>

    <!-- <section class="why-choose-us">
        <header class="shop-by-header">
            <h6>BEST PRODUCTS</h6>
            <h2>WHY CHOOSE US</h2>
        </header>
    </section> -->

    <section class="footer">
        <app-footer></app-footer>
    </section>

</main>