main{
    padding: 5%;
}
.cart-section{
    max-width: 100%;
    display: flex;
}
.products-container{
    padding: 2%;
    width: 70%;
    overflow-x: auto;
}
.total-section{
    width: 30%;
    padding: 2%;
}