.example-card {
  width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
  .productImage img {
    width: 100%;
    height: auto;
  }

  mat-card-header,
  mat-card-content,
  mat-card-actions {
    text-align: center;
  }
}
