.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.products-container{
  padding: 5%;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, input, button, label, select, option, textarea{
  font-family: "Oswald", sans-serif;
}
main{
  padding: 5%;
}
